extends layout

block content
  .container.form-signin
     form.form-horizontal
       div
         h3 Welcome
       .form-group
          label.control-label(for="inputUser") Username
          input#inputUser.form-control(type = "text" ,placeholder = "Username")
       .form-group
          label.control-label(for="inputPassword") Password
          input#inputPassword.form-control(type = "password" ,placeholder = "Password")
        div
          button.btn.btn-primary.btn-lg 
            进入系统
            span.glyphicon.glyphicon-menu-right(aria-hidden="true")